@use "../scss/fonts.scss";
@use "colors.scss";
@use "_variables.scss" as vars;

.blog {
  .category-temoignage {
    display: none;
  }
  .inside-article {
    .byline, footer.entry-meta, .tags-links  {
      display: none;
    }
  }
  #content-header,
  .no-results {
    display: none;
  }


.site-main {
  article {
    margin-bottom: calc(vars.$space-xxl * 2);
    .inside-article {
      display: flex;
      flex-wrap: wrap;
      gap: vars.$space-xs;
      padding: vars.$space-lg 0;
      position: relative;

      .entry-header {
        width: 55%;
        margin-bottom: vars.$space-sm;
        h2 {
          font-size: vars.$h3-size;
          line-height: vars.$base-line-height-smaller;
        }
      }

      .post-image {
        width: 40%;
        overflow: hidden;
        border-radius: vars.$border-radius-element;
        position: absolute;
        margin-top: 0;
        height: calc(100% - #{vars.$space-lg * 2});

        a {
          display: block;
          width: 100%;
          height: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: scale(1.05);
        }
      }

      .entry-meta {
        width: 55%;
        margin-bottom: vars.$space-sm;
        color: colors.$font-color-2;
        font-size: vars.$small-size;
        font-weight: vars.$font-weight-medium;
      }

      .entry-summary {
        width: 55%;
        display: flex;
        flex-direction: column;
        margin-top: 0;

        p {
          display: flex;
          // margin-bottom: vars.$space-sm;
          flex-direction: column;
        }

        .read-more {
          background-color: colors.$font-color-2;
          color: colors.$font-color-4;
          padding: vars.$space-sm vars.$space-md;
          margin-top: calc(vars.$space-md * 2);
          border-radius: vars.$border-radius-button;
          text-decoration: none;
          border: none;
          text-transform: uppercase;
          font-weight: vars.$font-weight-bold;
          display: inline-block;
          align-self: flex-start;
          transition: all 0.3s ease;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          position: relative;
          overflow: hidden;

          &:hover {
            background-color: colors.$font-color-5;
            color: colors.$font-color-4;
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          }

          &:active {
            transform: translateY(0);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              rgba(255, 255, 255, 0.1),
              rgba(255, 255, 255, 0)
            );
            opacity: 0;
            transition: opacity 0.3s ease;
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }

    // Even articles
    &:nth-child(even) {
      .inside-article {
        .entry-header {
          order: 1;
          margin-left: 45%;
        }

        .post-image {
          order: 2;
          left: 0;
        }

        .entry-meta {
          order: 2;
          margin-left: 45%;
          margin-left: 0;
        }

        .entry-summary {
          order: 3;
          margin-left: 45%;
          margin-top: 0.3rem;

          .read-more {
            align-self: flex-end;
          }
        }
      }
    }

    // Odd articles
    &:nth-child(odd) {
      .inside-article {
        .entry-header {
          order: 1;
          margin-right: 45%;
        }

        .post-image {
          order: 1;
          right: 0;
        }

        .entry-meta {
          order: 2;
          margin-right: 45%;
        }

        .entry-summary {
          order: 3;
          margin-right: 45%;

          .read-more {
            align-self: flex-start;
          }
        }
      }
    }
  }
}
}