$font-color-1: black;
$font-color-2: #78ae9c;
$font-color-3: #eb8a51;
$font-color-4: #ffffff;
$font-color-5: #b3b3b3;
$background-color-1: #293330;
$background-color-2: #333333;
// $background-color-3: #f8f8f8;
$background-color-3: #ffffff;
$gradient-color-0: rgba(10, 10, 10, 0.1);
$gradient-color-1: rgba(10, 10, 10, 0.4);
$gradient-color-2: rgba(255, 255, 255, 0.417);
$gradient-color-3: rgba(10, 10, 10, 0.6);

$opacity-color-0: rgba(255, 255, 255, 0);

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=0a0a0a1a&c2=0a0a0a4d&gt=l&gd=dbb
*/
// background: #0A0A0A1A;
// background: linear-gradient(0deg, #0A0A0A1A, #0A0A0A4D);
// linear-gradient(
//   0deg,
//   rgba(10, 10, 10, 0.1),
//   rgba(10, 10, 10, 0.3)
// );
