@use "colors.scss";
@use "_variables.scss" as *;

@font-face {
  font-family: "Ubuntu";
  font-weight: $font-weight-light;
  src: url("../../assets/fonts/Ubuntu-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: $font-weight-regular;
  src: url("../../assets/fonts/Ubuntu-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: $font-weight-medium;
  src: url("../../assets/fonts/Ubuntu-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: $font-weight-bold;
  src: url("../../assets/fonts/Ubuntu-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("../../assets/fonts/Roboto-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: $font-weight-light;
  src: url("../../assets/fonts/Roboto-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: $font-weight-regular;
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: $font-weight-medium;
  src: url("../../assets/fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: $font-weight-semibold;
  src: url("../../assets/fonts/Roboto-Condensed.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: $font-weight-bold;
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: $font-weight-black;
  src: url("../../assets/fonts/Roboto-BoldCondensed.woff2") format("woff2");
}
@font-face {
  font-family: "Icomoon";
  font-weight: $font-weight-light;
  src: url("../../assets/fonts/icomoon.woff") format("woff");
}

/*TITLES-start*/
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-primary;
    margin-bottom: $space-md;
  }
  p,
  a {
    font-family: $font-secondary;
    text-decoration: none;
  }
  p,
  #content-header p strong {
    font-size: $body-size;
    line-height: $base-line-height;
    font-weight: $font-weight-light;
  }
  h1 {
    font-size: $h1-size;
    line-height: 1.2;
    font-weight: $font-weight-regular;
    margin-bottom: $space-md !important;
  }
  h2 {
    font-size: $h2-size;
    line-height: 1.1;
    font-weight: $font-weight-light;
  }
  h3 {
    font-size: $h3-size;
    line-height: 1.2;
    font-weight: $font-weight-regular;
  }
  h4 {
    font-size: $h4-size;
    line-height: 1.2;
    font-weight: $font-weight-medium;
  }
  h5 {
    font-size: $h5-size;
    line-height: 1.2;
    font-weight: $font-weight-medium;
  }
  h6 {
    font-size: $h6-size;
    line-height: 1.4;
    font-weight: $font-weight-regular;
  }
}
/*page-font-specifics*/
.page {
  h1,
  h2 {
    text-align: center;
  }
}

/*post-font-specifics*/
.post {
  h1,
  h2 {
    text-align: left;
  }
}

/*sidebar-font-specifics*/

/*page-full-width-titles-START*/

.page.full-width-content .single-post h2 {
  width: 44.5625rem; // 713px
  margin: $space-xl auto 0;
  font-size: $h2-size;
  line-height: 1.1;
  font-weight: $font-weight-light;
  word-wrap: break-word;
  position: relative;
  unicode-bidi: isolate;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*ICONS START*/

/*-icons-look-START*/
.icon-droit-civil {
  a:before {
    content: "\e901";
  }
}
.icon-droit-fiscal {
  a:before {
    content: "\e902";
  }
}
.icon-droit-des-icon-droit-fiscal {
  a:before {
    content: "\e903";
  }
}
.icon-droit-penal {
  a:before {
    content: "\e904";
  }
}
.icon-droit-du-travail {
  a:before {
    content: "\e905";
  }
}
.icon-droit-commercial {
  a:before {
    content: "\e905";
  }
}
.icon-droit-de-la-famille {
  a:before {
    content: "\e905";
  }
}
.icon-droit-de-la-propriete-intellectuelle {
  a:before {
    content: "\e905";
  }
}
.icon-international-prive {
  a:before {
    content: "\e905";
  }
}
.icon-droit-des-contrats {
  a:before {
    content: "\e905";
  }
}
/*-icons look-END*/
/*-icons-parameters-START*/
.single-button-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a:before {
    display: block;
    position: relative;
    margin: 0 auto $space-md;
    width: 4.1rem;
    font-family: $font-icons;
    font-size: 2.65rem;
    line-height: 1.5;
    font-weight: $font-weight-light;
    color: colors.$font-color-2;
    position: relative;
    border-radius: 2.5rem;
    background-color: colors.$font-color-1;
  }
}
/*-icons-parameters-END*/
/*ICONS END*/

// TEXT VERTICAL DISTANCE - start

h1.entry-title {
}

// TEXT VERTICAL DISTANCE - end
