@use "colors.scss";
@use "_variables.scss" as *;

header.site-header {
  margin-bottom: 5rem;
}
.page header.site-header {
  // background-color: unset;
  height: 781px;
  background-color: colors.$gradient-color-1;
}

.inside-header {
  //height: 100%;
  padding-bottom: 0 !important;
  .main-title a {
    visibility: hidden;
    font-size: 0.1px;
    &::before {
      visibility: visible !important;

      content: "\e900";
      font-family: "Icomoon";
      font-size: 3.55rem;
      line-height: 1.5;
      font-weight: 300;
      color: colors.$font-color-4;
    }
  }
  /* 
hidding the second header menu AKA Header advertising part
*/
  // .header-widget {
  //   display: none;
  // }

  .sub-menu-right {
    flex-grow: 4;
  }
}
.inside-header {
  flex-wrap: wrap;
  justify-content: space-between;
  .main-navigation {
    flex-grow: unset;
    background: transparent;
    .menu-item-has-children {
      &:hover {
        background-color: colors.$font-color-4;
        border-radius: $border-radius-button $border-radius-button 0 0; // rounded bottom corners
      }

      .sub-menu {
        li {
          &:hover {
            background-color: transparent; // override default background color
            border-radius: $border-radius-button $border-radius-button 0 0; // rounded bottom corners
          }
        }

        &:hover {
          .menu-item-has-children {
            background-color: colors.$font-color-4;
            border-radius: $border-radius-button $border-radius-button 0 0; // rounded bottom corners
          }
        }
      }
    }
    ul ul {
      // background-color: colors.$gradient-color-2;
      background-color: colors.$font-color-4;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
      border-radius: 0 0 $border-radius-button $border-radius-button; // rounded bottom corners
      width: fit-content; // width equal to longest li child element
      a &:hover {
        background: colors.$font-color-1;
      }

      li.menu-item {
        margin-right: 20px;
        color: colors.$font-color-1 !important;

        &:hover {
          color: colors.$font-color-2;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .menu-item a {
      font-size: 1.25rem;
      color: colors.$font-color-4;
    }
    .main-nav ul li > a:hover {
      color: colors.$font-color-2 !important;
    }
    .main-nav ul li[class*="current-menu-"] > a {
      color: colors.$font-color-3;
    }
  }
  div.header-widget {
    //max-width: 55%;
    margin-top: 6rem;
    margin-left: unset;
  }
}
