@use "_variables.scss" as *;
@use "normalizer2.scss";
@use "fonts.scss";
@use "colors.scss";
@use "header.scss";
@use "page.scss";
@use "widgets.scss";
@use "mail-form.scss";
@use "footer.scss";
@use "post.scss";
@use "blog.scss";

.site {
  &.container {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  &.container,
  div.inside-article {
    background-color: colors.$font-color-4;
  }
}
.breadcrumbs {
  a,
  strong {
    color: colors.$font-color-2;
  }
}
