<!-- wp:columns -->
<div class="wp-block-columns page-header-widget">
  <!-- wp:column -->
  <div
    class="wp-block-column page-header-widget-column page-header-widget-title"
  >
    <!-- wp:html -->
    <p>APPELEZ-NOUS AUJORDHUI</p>
    <!-- /wp:html -->
  </div>
  <!-- /wp:column -->

  <!-- wp:column -->
  <div
    class="wp-block-column page-header-widget-column page-header-widget-column-subtitle"
  >
    <!-- wp:html -->
    <p>Emporia legal</p>
    <!-- /wp:html -->
  </div>
  <!-- /wp:column -->
  <!-- wp:column -->
  <div
    class="wp-block-column page-header-widget-column page-header-widget-column-subtitle"
  >
    <!-- wp:html -->
    <p>
      <!-- wp:column -->
      We are a youthful and innovative organization that can provide you with
      new business ideas.
      <!-- /wp:column -->
    </p>
    <!-- /wp:html -->
  </div>
  <!-- /wp:column -->

  <!-- wp:column -->
  <div class="wp-block-column">
    <!-- wp:buttons -->
    <div class="wp-block-buttons">
      <!-- wp:button -->
      <div class="wp-block-button">
        <a class="wp-block-button__link wp-element-button"
          >Consultation gratuite</a
        >
      </div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<div class="header-page-widget">
  <h2 class="header-page-widget-title">Analytics and planning</h2>
  <h1 class="header-page-widget-subtitle">Complex financial planning</h1>
  <p class="header-page-widget-description">
    We are a youthful and innovative organization that can provide you with new
    business ideas.
  </p>
  <div class="header-page-widget-button">
    <button class="header-page-widget-button-a">
      <a href="/contact">Consultation gratuite</a>
    </button>
    <button class="header-page-widget-button-b">
      <a href="/contact">Consultation gratuite</a>
    </button>
  </div>
</div>

<!-- wp:columns -->
<div class="wp-block-columns">
  <!-- wp:column -->
  <div class="wp-block-column">
    <!-- wp:html -->
    <p>APPELEZ-NOUS AUJORDHUI</p>
    <!-- /wp:html -->
  </div>
  <!-- /wp:column -->

  <!-- wp:column -->
  <div class="wp-block-column">
    <!-- wp:html -->
    <p>Emporia legal</p>
    <!-- /wp:html -->
  </div>
  <!-- /wp:column -->

  <!-- wp:column -->
  <div class="wp-block-column">
    <!-- wp:buttons -->
    <div class="wp-block-buttons">
      <!-- wp:button -->
      <div class="wp-block-button">
        <a class="wp-block-button__link wp-element-button"
          >Consultation gratuite</a
        >
      </div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
